@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/LibreBaskerville.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --background: hsl(0,1%,14%);
  --foreground: hsl(0,0%,92%);
}

@theme inline {
  --font-baskerville: "Baskerville";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --padding-large: 0.75rem;

  --rounding-large: 0.5rem;
  --rounding-small: 0.25rem;

  --gap-small: 0.5rem;
}

@layer utilities {
  .card {
    background-color: hsl(0,1%,24%);
    padding: var(--padding-large);
    border-radius: var(--rounding-large);
  }

  .button {
    border: 2px solid hsl(0,0%,60%);
    border-radius: var(--rounding-small);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baskerville";
}
