@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/LibreBaskerville.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --background: #242323;
  --foreground: #ebebeb;
}

@theme inline {
  --font-baskerville: "Baskerville";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baskerville";
}
